.rollout-manager-logger-dialog {
    coral-dialog-content {
        overflow-y: auto;
    }

    .rollout-processing-status {
        font-weight: 500;
        margin-bottom: 1em;
    }

    .rollout-logs-list {
        position: relative;
        margin-block: 0;
        list-style: none;
        padding: 0;

        .rollout-log-item > coral-icon {
            margin-right: 5px;
            vertical-align: text-top;
            pointer-events: auto;
        }

        .rollout-log-item > label {
            width: auto;
            margin-top: 0;
            line-height: inherit;
        }

        .rollout-activation-status {
            margin-left: 10px;
            color: #1473e6;
            &.error {
                color: red;
            }
        }
    }
}

#rollout-manager-status-popup {
    z-index: 10031; /* more than coral-dialog */
    display: block;
    width: fit-content;
    top: 60px;
    left: 50%;
    transform: translate(-50%, 0);
}
