.rollout-manager-logger-dialog {
    &.rollout-manager-dialog coral-dialog-content {
        display: block;
    }

    .rollout-logs-list {
        margin-bottom: 0;
        list-style: none;
        padding: 0;

        .rollout-log-item > label {
            width: auto;
            margin-top: 0;
            line-height: inherit;
        }

        .rollout-icon-status {
            display: inline-block;
            width: 18px;
            height: 18px;
            margin-right: 5px;
            vertical-align: text-top;
            fill: #464646;
        }

        .rollout-activation-status {
            margin-left: 10px;
            color: #1473e6;
            &.error {
                color: red;
            }
        }
    }
}
